name: Android Instrumented Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  instrumented-tests:
    runs-on: macOS-12
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew connectedCheck
