name: Android Instrumented Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  instrumented-tests:
    runs-on: ubuntu-latest

    services:
      android:
        image: budtmo/docker-android:emulator_11.0
        ports:
          - 5554:5554
          - 5555:5555
        options: >-
          --device /dev/kvm
        env:
          EMULATOR_DEVICE: "Samsung Galaxy S10"
          WEB_VNC: "false"

    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Android SDK and ADB
        uses: android-actions/setup-android@v3
      - name: Wait for Docker emulator
        run: |
          echo "Waiting ADB port..."
          until adb connect localhost:5554; do sleep 2; done
      
          adb connect localhost:5554
      
          echo "Waiting Android boot..."
          until adb -s localhost:5554 shell getprop sys.boot_completed | grep -m 1 "1"; do
            sleep 3
          done
      - name: Grant gradlew permission
        run: chmod +x gradlew
      - name: Run instrumented tests
        run: |
          ./gradlew connectedAndroidTest \-Pandroid.testInstrumentationRunnerArguments.serial=localhost:5554
