name: Android Instrumented Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK and ADB
        uses: android-actions/setup-android@v3

      - name: Grant gradlew permission
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew test