name: Android Instrumented Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  instrumented-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          emulator-options: "-no-window -gpu swiftshader_indirect -no-accel"
          script: ./gradlew connectedCheck
