name: Android Instrumented Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  instrumented-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK and ADB
        uses: android-actions/setup-android@v3

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run unit tests
        run: ./gradlew test
